{% load static %}
<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <p class="mb-4"><img src="{% static 'images/begum-rokeya-university-logo.png' %}" alt="Image" class="img-fluid" style="height: 80px;"></p>
          <p>Club of Electrical and Electronic Engineering (EEE) in Begum Rokeya University</p>  
          <p><a href="{% url 'about' %}">Learn More</a></p>
        </div>
        <div class="col-lg-3">
          <h3 class="footer-heading"><span>USEFUL LINK</span></h3>
          <ul class="list-unstyled">
              <li><a href="#">Forms & Download</a></li>
              <li><a href="#">Jobs at BRUR</a></li>
              <li><a href="#">Tender</a></li>
              <li><a href="#">BNCC</a></li>
              <li><a href="#">Rover Scout</a></li>
              <li><a href="#">BRUR Legal Cell</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
            <h3 class="footer-heading"><span>QUICK CONNECT</span></h3>
            <ul class="list-unstyled">
                <li><a href="#">Public Relation Office</a></li>
                <li><a href="#">Student Counselling</a></li>
                <li><a href="#">Office of external Affairs</a></li>
                <li><a href="#">BRUR Proctor Office</a></li>
                <li><a href="#">BRUR Police Camp</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h3 class="footer-heading"><span>Contact</span></h3>
            <ul class="list-unstyled">
                <li><a href="#">Park Mor, Modern, Rangpur-5404, Bangladesh.</a></li>
                <li><a href="#">+880 521-59305, 
                  +880 521-59326</a></li>
                <li><a href="#">info@brur.ac.bd</a></li>
            </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="copyright">
              <p>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> | All rights reserved Begum Rokeya University, Rangpur | Privacy Policy | Terms of Use <i class="icon-heart" aria-hidden="true"></i> by <a href="" target="_blank" >Vokti77</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</div>