{%load static%}
<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

    <div class="container">
      <div class="d-flex align-items-center">
        <div class="site-logo">
          <a href="{% url 'index' %}" class="d-block">
            <img src="{% static 'images/ll.jpg' %}" alt="Image" class="img-fluid" style="height: 100px;">
          </a>
        </div>
        <div class="mr-auto">
          <nav class="site-navigation position-relative text-right" role="navigation">
            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li {% if "/" == request.path %}
                class="nav-item active mr-3"
                {% else %}
                  class="nav-item mr-3"
               {% endif %}
          >
                <a href="{% url 'index' %}" class="nav-link text-left">Home</a>
              </li>
              <li {% if "about/" in request.path %}
                class="nav-item active mr-3"
                {% else %}
                  class="nav-item mr-3"
               {% endif %}
          >
                <a href="{% url 'about' %}" class="nav-link text-left">About Us</a>
              </li>
              <li {% if "questions-solves/" in request.path %}
                class="nav-item active mr-3"
                {% else %}
                  class="nav-item mr-3"
               {% endif %}
          >
          <a href="{% url 'questions-solves' %}" class="nav-link text-left">Question & Solve</a>
              </li>

              <li {% if "event/" in request.path %}
                class="nav-item active mr-3"
                {% else %}
                  class="nav-item mr-3"
               {% endif %}
          >
                <a href="{% url 'event' %}" class="nav-link text-left">Events</a>
              </li>
              <li {% if "contact/" in request.path %}
                class="nav-item active mr-3"
                {% else %}
                  class="nav-item mr-3"
               {% endif %}
          >
                  <a href="{% url 'contact' %}" class="nav-link text-left">Contact</a>
                </li>
                {% if request.user.is_authenticated %}
                <li {% if "rooms/" in request.path %}
                class="nav-item active mr-3"
                {% else %}
                  class="nav-item mr-3"
               {% endif %}
          >
                  <a href="{% url 'rooms' %}" class="nav-link text-left">Chat</a>
                </li>
                {% endif %}
            </ul>                                                                                                                                                                                                                                                                                          </ul>
          </nav>

        </div>
        <div class="ml-auto">
          <div class="social-wrap">
            <a href="#"><span class="icon-facebook"></span></a>
            <a href="#"><span class="icon-twitter"></span></a>
            <a href="#"><span class="icon-linkedin"></span></a>

            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
              class="icon-menu h3"></span></a>
          </div>
        </div>
       
      </div>
    </div>

  </header>
