<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        {% if request.user.is_superuser %}
         {% include 'dashboard/offcanvas.html' %}
        {% endif %}
        <a class="navbar-brand" href="{% url 'dashboard' %}">EEE CLub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if  request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'events' %}">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'all-donations' %}">All Donations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'active-users' %}">Active Users</a>
                    </li>

                {% endif %}
                
                {% if request.user.memberprofile.status == "1" %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'all_poor_people' %}">People List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'distribution-list' %}">Distribution List</a>
                    </li>
                    {% endif %}
            </ul>
            <a class="btn btn-outline-dark" href="{% url 'logout' %}" id="nav-link">Logout</a>
            <a class="btn btn-outline-dark" href="{% url 'index' %}" id="nav-link">Home</a>
        </div>

    </div>
</nav>