<button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  <i class="fas fa-arrow-right"></i>
</button>
&nbsp;&nbsp;
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">EEE Club</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="dropdown mt-3">
      <a href="{% url 'event' %}" class="btn btn-block btn-outline-dark">Events</a>
    <br><br>
    <a href="" class="btn btn-block btn-outline-dark">Users</a>
    <br><br>
    <a href="{% url 'all-donations' %}" class="btn btn-block btn-outline-dark">Donations</a>
    <br><br>
    <a class="btn btn-block btn-outline-dark" href="{% url 'all_poor_people' %}">People List</a>
    <br><br>
    <a class="btn btn-block btn-outline-dark" href="{% url 'distribution-list' %}">Distribution List</a>
    </div>
  </div>
</div>