{% extends 'dashboard/bs.html' %}
{% load crispy_forms_tags%}
{% block title %}
    Create Event
{% endblock %}
{% block content %}
    <form method="post" novalidate style="margin-top: 50px" enctype="multipart/form-data">
        {% csrf_token %}
       {{ form| crispy }}
        <br><br>
        <a href="{% url 'event' %}" class="btn btn-outline-dark btn-block">Go Back</a>
        <input class="btn btn-outline-dark btn-block" type="submit" value="Create">
    <input class="btn btn-outline-dark btn-block" type="reset" value="Reset">
    </form>
{% endblock %}
